.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

*_cache/
*_files/
*.Rproj
*.Rdata

## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.toc
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.tex
*.md

!README.md
!.github/pull_request_template.md
!preamble.tex